body {
  background: radial-gradient(circle,rgb(238, 240, 205), rgb(208, 238, 87));
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.greeting-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
