body {
  background: black;
  color: limegreen;
  font-family: 'Nanum Gothic Coding', monospace;
}

.greeting-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
