body {
  background: radial-gradient(circle,rgba(247, 238, 198, .8), rgb(255, 212, 20));
  font-family: 'Arapey', serif;
}

.greeting-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
